* {
  box-sizing: border-box;
  font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  font-size: 24px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

@import 'button';
@import 'typography';